html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
html.is-open {
  position: fixed;
}

body {
  font-family: "mplus-1m", "Roboto", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFDFA;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.l-header {
  width: 100%;
}
@media (min-width: 1025px) {
  .l-header {
    width: 80%;
  }
}

.c-button__search-btn {
  width: 5rem;
  height: 2.8rem;
  margin-left: 10px;
  background-color: #F2EDE9;
  border-radius: 10px;
  border: solid 1px #707070;
  font-size: 1rem;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
}
@media (min-width: 600px) {
  .c-button__search-btn {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 6px;
  }
}
@media (min-width: 1025px) {
  .c-button__search-btn {
    width: 4.5rem;
    height: 26px;
    border-radius: 5px;
    font-size: 6px;
    margin: 10px 5px 3px 0px;
  }
}

.c-button--menu {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  color: #707070;
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 500;
  z-index: 400;
  cursor: pointer;
}
@media (min-width: 600px) {
  .c-button--menu {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 1025px) {
  .c-button--menu {
    display: none;
  }
}
.c-button--menu.is-open {
  display: none;
}

.c-button--menu__close {
  display: none;
  z-index: 400;
}
.c-button--menu__close.is-open {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 25px;
  width: 50px;
  height: 50px;
}
.c-button--menu__close.is-open::before {
  position: absolute;
  top: 25px;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #707070;
  transform: rotate(45deg);
}
@media (min-width: 600px) {
  .c-button--menu__close.is-open::before {
    width: 33px;
    height: 4px;
  }
}
.c-button--menu__close.is-open::after {
  position: absolute;
  top: 25px;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #707070;
  transform: rotate(-45deg);
}
@media (min-width: 600px) {
  .c-button--menu__close.is-open::after {
    width: 33px;
    height: 4px;
  }
}

.p-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7EF;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .p-header {
    flex-direction: row;
  }
}
.p-header h1 {
  padding: 42px;
}
@media (min-width: 600px) {
  .p-header h1 {
    padding: 23px;
  }
}
@media (min-width: 1025px) {
  .p-header h1 {
    padding: 34px;
  }
}
.p-header h1 > a {
  color: #707070;
  font-family: "Roboto";
  font-size: 2.4rem;
}
@media (min-width: 600px) {
  .p-header h1 > a {
    font-size: 1.8rem;
  }
}
@media (min-width: 1025px) {
  .p-header h1 > a {
    font-size: 2.2rem;
  }
}
.p-header__search {
  display: flex;
}
.p-header__search-inbox {
  width: 14rem;
  height: 2.8rem;
  margin-bottom: 44px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: solid 1px #707070;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (min-width: 600px) {
  .p-header__search-inbox {
    width: 18rem;
    height: 2rem;
    margin-bottom: 27px;
  }
}
@media (min-width: 1025px) {
  .p-header__search-inbox {
    width: 14rem;
    height: 25px;
    border-radius: 5px;
    margin: 10px 5px 3px 240px;
  }
}
.p-header__search-inbox.fa-search {
  font-family: FontAwesome;
  font-size: 1.7rem;
  padding-left: 10px;
}
@media (min-width: 600px) {
  .p-header__search-inbox.fa-search {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .p-header__search-inbox.fa-search {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */