// 変数呼び出し
@use "../../Foundation/variable" as *;
// メディアクエリ
@use "../../Foundation/mediaQuery" as *;

.p-main__article--TakeOut {
  position: relative;
  width: auto;
  min-height: 450px;
  height: auto;
  margin: 20px;
  padding: 10px 15px;
  background-image: url(/img/takeout.jpg);
  background-size: cover;
  background-position: center;
  @include mq(tab){
    width: 100%;
    margin:30px;
    min-height: 200px;
  }
  @include mq(pc){
    min-height: 680px;
    padding: 10px 15px;
    margin:45px 45px 45px 55px;
  }
  h3{
    position: relative;
    padding: 0 0 150px 0;
    @include mq(tab){
      padding: 0 0 200px 0;
    }
    @include mq(pc){
      padding: 0 0 500px 0;
    }
    >a{
      color: $second-white;
      font-size: 2.4rem;
      @include mq(tab){
        font-size: 1.9rem;
      }
      @include mq(pc){
        font-size: 2.6rem;
      }
    }
    &::after{
      position: absolute;
      content: "";
      background-color: $first-white ;
      width: 2.2rem;
      height: 0.2rem;
      top: 90px;
      left: 16px;
      @include mq(tab){
        width: 1.6rem;
        top: 65px;
        left: 9px;
      }
      @include mq(pc){
        width: 2.0rem;
        height: 2px;
        top: 80px;
      }
    }
  }
}//.p-main__article--TakeOut

.p-main__article--EatIn{
  position: relative;
  align-items: flex-end;
  width:auto;
  min-height: 450px;
  height: auto;
  margin: 0px 20px 45px 20px;
  padding: 10px 15px;
  background-image: url(/img/eatin.png);
  background-size: cover;
  background-position: center;
  @include mq(tab){
    width: 100%;
    margin: 30px 30px 30px 0;
  }
  @include mq(pc){
    min-height: 680px;
    padding: 10px 15px;
    margin:45px 45px 45px 0;
  }
  h3{
    position: relative;
    padding: 0 0 150px 0;
    @include mq(tab){
      padding: 0 0 200px 0;
    }
    @include mq(pc){
      padding: 0 0 500px 0;
    }
    >a{
      color:$first-white;
      font-family:'Roboto';
      font-size: 2.4rem;
      @include mq(tab){
        font-size: 1.9rem;   
      }
      @include mq(pc){
        font-size: 2.6rem;
      }
    }
    &::after{
      position: absolute;
      content: "";
      background-color:$first-white;
      width: 2.2rem;
      height: 0.2rem;
      top: 90px;
      left: 16px;   
        @include mq(tab){
          width: 1.6rem;
          top: 65px; 
          left:9px;
        }
        @include mq(pc){
          width: 2.0rem;
          height: 2px;
          top: 83px;
        }
      }  
    }
  }//.p-main__article--EatIn

.p-TakeOut__list{
  min-height: 80px;
  width: auto;
  background-color: $first-white;
  opacity: 0.8;
  margin: 0 0 10px 0;
  padding: 10px;
  &:nth-last-of-type(1){
    margin: 0;
  }
  >h4{
    font-size: 1.3rem;
    font-weight:700;
    color:$brown;
    padding: 0;
    @include mq(tab){
      font-size: 1rem;
    }
    @include mq(pc){
     font-size: 1.2rem;
    }
  }
  >p{
    font-size: 1.0rem;
    color: $brown;
    padding: 0;
    @include mq(tab){
      font-size: 0.8rem;
    }
  }
}